html,body{
    margin: 0 auto;
    padding: 0;
/*  max-width: 1920px;*/
    overflow-x: hidden;
    min-height: 100vh;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    line-height: 1.2;
}
form *{
    outline: none;
}
button{
    border-style: none;

}
* ::after{
    background-repeat: no-repeat;
}
* ::before{
    background-repeat: no-repeat;
}
input {
    border-style: none;
    border:none;
}
a {
    text-decoration: none;
    color: inherit;
    display: block;
}
u{
    text-decoration: none;
}
*{
    max-height: 999999px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    /*-webkit-text-size-adjust: 100%;*/
}
ul li{
    list-style: none;
}
ul{
    margin:0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6{
    margin:0 ;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;
}
.button{
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.content{
    width: 1140px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
.wrapper{
    background-position: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
}
.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
#metcast .content{
    padding-top: 120px;
}
#metcast h1{
    text-align: center;
    font-family: arial;
    font-size: 30px;
    margin-bottom: 40px;
}
#metcast .box{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#metcast .box .weater_box{
	display: flex;
	justify-content: space-between;
	width: 890px;
}
#metcast .box .block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
    height: 240px;
    background-color: floralwhite;
    border: 1px solid black;
    transition: 0.35s;
    border-radius: 14px;
}
#metcast .box .block .when{
    font-family: arial;
    font-size: 12px;
    margin-top: 10px;
}
#metcast .box .block .date{
    display: flex;
    margin-top: 5px;
}
#metcast .box .block .number,
#metcast .box .block .month{
    font-family: Arial;
    font-size: 20px;
}
#metcast .box .block .number{
    margin-right: 15px;
}
#metcast .box .block .day{
    font-size: 25px;
    font-family: Arial;
}
#metcast .box .block .night{
    font-size: 11px;
    font-family: Arial;
    color: gray;
    margin-top: 5px;
}
#metcast .box .block .rain_and_snow{
    margin-top: 15px;
    font-size: 11px;
    font-family: Arial;
}
#metcast .arrow_left,
#metcast .arrow_right{
    font-size: 40px;
    color: black;
    cursor: pointer;
    width: 60px;
    transition: 0.35s;
    display: flex;
    justify-content: center;
}
#metcast .arrow_left.unactive,
#metcast .arrow_right.unactive{
    color: grey;
    cursor: unset;
}
#weater{
    width: 60px;
    height: 60px;
    background-size: contain;
    margin-top: 5px;
    margin-bottom: 5px;
}
#weater.sun{
    background-image: url(images/sun.png);
}
#weater.cloud{
    background-image: url(images/cloud.png);
}
#weater.rain{
    background-image: url(images/rain.png);
}
#weater.snow{
    background-image: url(images/snow.png);
}
#weater.rainSnow{
    background-image: url(images/snow_rain.png);
}
#weater.unknow{
	background-color: floralwhite;
}

@media (min-width: 1025px){
	#metcast .box .block:hover{
		-webkit-transform: scale(1.1);
  		-ms-transform: scale(1.1);
  		transform: scale(1.1);
  		box-shadow: 0px 20px 40px 0px rgba(0, 29, 177, 0.31);
	}
	#metcast .arrow_left:hover,
	#metcast .arrow_right:hover{
		transform: scale(1.5);
	}

}
@media (max-width: 1120px) and (min-width: 490px){
	.wrapper{
		height: auto;
		padding-bottom: 100px;
	}
	.content{
		width: 420px;
	}
	#metcast .box{
		flex-direction: column;
	}
	#metcast .arrow_left, #metcast .arrow_right{
		transform: rotate(90deg);
	}
	#metcast .box .block{
		width: 211px;
    	height: 211px;
    	margin: 7px 0px;
	}
	#metcast .box .weater_box{
		flex-wrap: wrap;
		width: 430px;
	}
}
@media (max-width: 489px){
	.wrapper{
		height: auto;
		padding-bottom: 100px;
	}
	.content{
		width: 320px;
	}
	#metcast .content{
		padding-top: 30px;
	}
	#metcast .box{
		flex-direction: column;
	}
	#metcast .arrow_left, #metcast .arrow_right{
		transform: rotate(90deg);
	}
	#metcast .box .block .when{
		font-size: 11px;
    	margin-top: 6px;
	}
	#metcast .box .block .date{
		margin-top: 4px;
	}
	#metcast .box .block .number, #metcast .box .block .month{
		font-size: 14px;
	}
	#weater{
		width: 30px;
		height: 30px;
	}
	#metcast .box .block .day{
		font-size: 17px;
	}
	#metcast .box .block .rain_and_snow{
		margin-top: 8px;
	}
	#metcast .box .block{
		width: 159px;
    	height: 150px;
    	margin: 5px 0px;
	}
	#metcast .box .weater_box{
		flex-direction: column;
		align-items: center;
	}

}